<div class="row">
    <div class="col-md-12 text-center">
        <div class="panel panel-primary border-radius-25">
            <div class="panel-heading border-radius-top-25">
                <h4 class="modal-title">{%trans%}Customer Data{%endtrans%}</h4>
            </div>
            <div class="panel-body border-radius-bottom-25 panel-customer">
                <div class="form-horizontal">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12 alert-message-modal"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!--<div class="form-group">
                                    <label for="customerData" class="col-md-12 control-label text-center-override">{%trans%}Customer Data{%endtrans%}</label>
                                </div>-->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control text-center" id="customerPhone" name="customerPhone" placeholder="{%trans%}Phone Number{%endtrans%}" {% if customer is not null %}disabled{% endif %} value="{{customer.customerPhone}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control text-center" id="customerName" name="customerName" placeholder="{%trans%}Customer Name{%endtrans%}" {% if customer is not null %}disabled{% endif %} value="{{customer.customerName}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!--<label for="customerNotes" class="col-md-4 control-label">{%trans%}Notes{%endtrans%} : </label>
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <textarea class="form-control" rows="4" id="customerNotes" name="customerNotes" placeholder="{%trans%}Enter notes for this item{%endtrans%} ...."></textarea>
                                        </div>
                                    </div>-->
                                    <div class="col-md-12">
                                        <a class="btn btn-warning btn-md btn-find-customer {% if customer is not null %}disabled{% endif %}">{%trans%}Find{%endtrans%}</a>
                                        <a class="btn btn-default btn-md btn-clear-customer {% if customer is not null %}disabled{% endif %}">{%trans%}Clear{%endtrans%}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>