<div class="modal fade bs-modal-lg" id="customerDataModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header edit-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{%trans%}Customer Data{%endtrans%}</h4>
            </div>
            <div class="modal-body">
                <div class="form-container">
                    <div class="">
                        <div class="row">
                            <div class="col-lg-12 alert-message-modal"></div>
                        </div>
                        <div class="row item-details-container">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="customerPhone" class="col-sm-4 control-label">{%trans%}Phone Number{%endtrans%} : </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="customerPhone" name="customerPhone" placeholder="{%trans%}Enter Phone Number{%endtrans%}">
                                    </div>
                                    <a class="btn btn-info btn-sm btn-find-phone">{%trans%}Find{%endtrans%}</a>
                                </div>
                                <div class="form-group">
                                    <label for="customerFirstName" class="col-sm-4 control-label">{%trans%}First Name{%endtrans%} : </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="customerFirstName" name="customerFirstName" placeholder="{%trans%}Enter First Name{%endtrans%}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="customerLastName" class="col-sm-4 control-label">{%trans%}Last Name{%endtrans%} : </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="customerLastName" name="customerLastName" placeholder="{%trans%}Enter Last Name{%endtrans%}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="customerAddress" class="col-sm-4 control-label">{%trans%}Address{%endtrans%} : </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="customerAddress" name="customerAddress" placeholder="{%trans%}Enter Address{%endtrans%}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="customerNotes" class="col-sm-4 control-label">{%trans%}Notes{%endtrans%} : </label>
                                    <div class="col-sm-6">
                                        <div class="col-sm-12">
                                            <textarea class="form-control" rows="4" id="customerNotes" name="customerNotes" placeholder="{%trans%}Enter notes for this item{%endtrans%} ...."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footer-override">
                <button type="button" class="btn btn-default" data-dismiss="modal">{%trans%}Close{%endtrans%}</button>
                <button type="submit" class="btn btn-danger btn-continue">{%trans%}Continue{%endtrans%}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->