<div class="immutable-bulk-view-data">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="modelBrand" class="col-sm-12 control-label">{{ bulk.br_brand_name }} {{ bulk.m_model_name }} {{ bulk.co_color_name }} {{ bulk.m_model_number }}</label>
                </div>
            </div>
        </div>
    </div>
</div>