<div class="col-md-8">
        <div class="form-horizontal" id="bulkForm">
                <div class="form-container">
                        <!--<div class="tab-pane bulk-info" id="tabsbulk-tab{{loop.index}}">
                                {% include('istoregomlaphoneBundle:Item:bulkInfo.html.twig') %}
                        </div>-->
                        <div class="jumbotron text-center">
                                <p>{%trans%}The items of this model don't have serial{%endtrans%}</p>
                        </div>
                </div>
        </div>
</div>