{% extends 'istoregomlaphoneBundle::layout.html.twig' %}
{% block body %}
<form class="form-horizontal" role="form" method="post" id="brandForm">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>{% trans %}Add New Brand{% endtrans %}</h4>
		</div>
		<div class="panel-body">
			<div class="form-container">
				<div class="">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="brandName" class="col-sm-4 control-label">{% trans %}Brand Name{% endtrans %}</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="brandName" name="brandName" placeholder="{% trans %}Brand Name{% endtrans %}">
                                                                        <label for="brandName" class="brand-error"></label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<button type="submit" class="btn btn-success btn-lg btn-brand-add">{% trans %}Add Brand{% endtrans %}</button>
                        <a href="/brand" class="btn btn-default btn-lg">{% trans %}Back to brands{% endtrans %}</a>
		</div>
	</div>
</form>
<input type="hidden" value="{{ action }}" id="action">
<input type="hidden" value="{{ controller }}" id="controller">
{% endblock %}