{% extends 'istoregomlaphoneBundle::layout.html.twig' %}
{% block body %}
<div class="panel panel-danger">
            <div class="panel-body">
                    <div class="text-center"><h3>{% trans %}You are not authorized to view this page{% endtrans %}</h3></div>
            </div>
</div>
{% endblock %}