{% extends 'istoregomlaphoneBundle::layout.html.twig' %}
{% block body %}
<form class="form-horizontal" role="form" method="post" id="customerForm">
	<div class="panel panel-primary">
		<div class="panel-heading">
                        <h4>{% trans %}Add New Customer{% endtrans %}</h4>
		</div>
		<div class="panel-body">
			<div class="form-container">
				<div class="">
					<div class="row">
						<div class="col-md-6">
                                                        <div class="form-group">
								<label for="customerPhone" class="col-sm-4 control-label">{% trans %}Customer Phone{% endtrans %}</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="customerPhone" name="customerPhone" placeholder="{% trans %}Phone{% endtrans %}">
                                                                        <label for="categoryName" class="customer-error hidden"></label>
								</div>
							</div>
							<div class="form-group">
								<label for="customerName" class="col-sm-4 control-label">{% trans %}Customer Name{% endtrans %}</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="customerName" name="customerName" placeholder="{% trans %}Full Name{% endtrans %}">
                                                                        <label for="categoryName" class="customer-error hidden"></label>
								</div>
							</div>
                                                        <div class="form-group">
                                                                <label for="customerType" class="col-sm-4 control-label">{% trans %}Payment Method{% endtrans %}</label>
                                                                <div class="col-sm-6">
                                                                        <select class="form-control" id="customerType" name="customerType">
                                                                                <option value="prepaid" selected>{%trans%}Prepaid{%endtrans%}</option>
                                                                                <option value="postpaid">{%trans%}Postpaid{%endtrans%}</option>
                                                                        </select>
                                                                </div>
                                                        </div>
                                                        <!--<div class="form-group">
								<label for="customerNotes" class="col-sm-4 control-label">{% trans %}Customer Notes{% endtrans %}</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="customerNotes" name="customerNotes" placeholder="{% trans %}Notes{% endtrans %}">
								</div>
							</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<button type="submit" class="btn btn-success btn-lg btn-customer-add">{% trans %}Add Customer{% endtrans %}</button>
		</div>
	</div>
</form>
<input type="hidden" value="{{ action }}" id="action">
<input type="hidden" value="{{ controller }}" id="controller">
{% endblock %}