{% extends 'istoregomlaphoneBundle::layout.html.twig' %}
{% block body %}
<form class="form-horizontal" role="form" method="post" id="categoryForm">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>{% trans %}Add New Category{% endtrans %}</h4>
		</div>
		<div class="panel-body">
			<div class="form-container">
				<div class="">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="categoryName" class="col-sm-4 control-label">{% trans %}Category Name{% endtrans %}</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="{% trans %}Name{% endtrans %}">
                                                                        <label for="categoryName" class="category-error"></label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<button type="submit" class="btn btn-success btn-lg btn-categroy-add">{% trans %}Add Category{% endtrans %}</button>
		</div>
	</div>
</form>
<input type="hidden" value="{{ action }}" id="action">
<input type="hidden" value="{{ controller }}" id="controller">
{% endblock %}